* {
  box-sizing: border-box;
}

i {
  color: #e1b153;
}

a {
  text-decoration: none !important;
  color: #fff !important;
}

img {
  width: 100%;
  display: block;
  position: relative;
  transition: 0.3s;
  height: auto;
}

#navbar {
  background-color: rgba(0, 0, 0, 0.8549019608);
}

#heroSection {
  background-image: url("/image/hero-bg.jpg");
  background-repeat: no-repeat;
  background-position: center;
  background-size: cover;
  background-attachment: fixed;
}
#heroSection::before {
  content: "";
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5882352941);
  position: absolute;
  top: 0;
}

#heroContent {
  z-index: 10;
}
#heroContent p {
  transition: 0.3s;
  cursor: pointer;
}
#heroContent .heroItem:hover {
  transition: 0.4s;
  border: 1px solid #e1b153 !important;
}
#heroContent .heroItem:hover p {
  color: #e1b153 !important;
}

#user {
  color: #fff;
}

.slides {
  width: 100px;
  filter: grayscale(100%);
  transition: 0.2s;
}
.slides:hover {
  filter: none;
}

.servicesItem {
  transition: 0.3s !important;
}
.servicesItem div {
  padding: 10px;
  transition: 0.3s;
}
.servicesItem div h5 {
  transition: 0.3s;
}
.servicesItem div h5:hover {
  color: #e1b153;
}

.servicesItem:hover {
  transform: translateY(-10px) !important;
  cursor: pointer;
}
.servicesItem:hover div {
  box-shadow: 0px 0px 14px 10px #f1f1f1;
  border: none !important;
}

#callAction {
  background-image: url("/image/cta-bg.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
  background-attachment: fixed;
  position: relative;
}
#callAction::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.589);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  display: block;
  transition: 0.2s;
}

#actionContent {
  transform: translate(-50%, -50%);
}

#portfolioGroup {
  display: grid;
  grid-template: auto/1fr 1fr 1fr;
}

.portfolioImg {
  overflow: hidden;
  margin: 20px;
  cursor: pointer;
}
.portfolioImg::before {
  content: "";
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  z-index: 2;
  transition: 0.3s;
}
.portfolioImg:hover .image {
  transform: scale(1.2);
}
.portfolioImg:hover .contentPort {
  opacity: 1;
}
.portfolioImg:hover::before {
  background-color: rgba(0, 0, 0, 0.5882352941);
}

.contentPort {
  opacity: 0;
  transition: 0.3s;
  z-index: 3;
}

.couterImg {
  background-image: url("/image/counts-img.jpg");
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
}

#slidesPort {
  background-image: url("/image/testimonials-bg.jpg");
  background-attachment: fixed;
  position: relative;
}
#slidesPort #bg-testimonials {
  position: absolute;
  top: 0;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.8549019608);
}

.teamItem {
  box-shadow: 0px 5px 10px 0px #e5e5e5;
}
.teamItem:hover .teamLogoGroup {
  transform: translateY(0);
  opacity: 1;
}

.teamLogoGroup {
  transform: translateY(-20px);
  opacity: 0;
  transition: 0.4s;
}

.teamLogo {
  width: 30px;
  height: 30px;
  background-color: #f1f1f1;
  cursor: pointer;
  transition: 0.3s;
}
.teamLogo:hover {
  background-color: #e1b153;
}

footer #logo-link div {
  width: 40px;
  height: 40px;
}
footer ul {
  padding: 0;
  margin: 0;
}
footer ul li {
  transition: 0.3s;
}
footer ul li:hover {
  transform: translateX(10px);
}
footer ul li:hover a {
  color: #e1b153 !important;
}

/*# sourceMappingURL=index.css.map */
